@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font: normal 100%/1.4 Helvetica,sans-serif;
}

body {
  margin: 0 auto;
  padding: 0;
}

/* HEADER */
.logo-img {
  position: absolute;
}

.logo-1 {
  display: block;
}

.logo {
  padding: 20% 0 1.5% 0;
  position: relative;
  background-color: rgba(0,0,0,0.56);
  width: 100%;
}

.logo-2 {
  padding: 20% 0 1.5% 0;
  position: relative;
  background-color: rgba(0,0,0,0.56);
  width: 100%;
}

.flex-logo {
	display: block;
	width: 80%;
	margin: 0 auto;
}

.flex-logo-1 {
  display: none;
}

.flex-img {
  display: block;
  width: 100%;
}

.icons {
  display: none;
}

.nav-head {
  display: none;
}

.banner-img {
  display: none;
}

.service-1,
.service-2,
.service-3 {
  display: none;
}

.mobile-layout {
  display: block;
}

.desktop-layout {
  display: none;
}

.workshop-text {
  padding: 1em;
}

h2 {
  font-weight: lighter;
  font-size: 1.5em;
  margin: 0 auto;
  padding: 0.8em 0 0em 0;
  color: #000;
}

h3 {
	display: inline-block;
  border-bottom: 1px solid #000;
  font-size: 1.3em;
  text-transform: uppercase;
  margin: 0 auto;
}

.body {
	margin: 0 auto;
  padding: 1em 0 0 0;
	font-family: serif;
}

.sub-body {
	margin: 0 auto;
	font-family: serif;
  letter-spacing: 0.5px;
  color: #000;
  font-size: 0.9em;
  padding: 1em 0;
}

/* WORKSHOPS MARKETING MEDICAL */
.sub-nav {
  margin: 0 auto;
}

.sub-nav ul {
  margin: 0;
  padding: 0;
}

.sub-nav li {
  list-style-type: none;
  padding: 0 0.5em 0.5em 0;
  display: inline-block;
}

.sub-nav a {
  border-bottom: 0.1em solid #ccc;
  -o-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 0 0.2em 0;
  font-size: 0.8em;
}

.sub-nav a:hover,
.sub-nav a:focus,
.sub-nav a:active {
  border-color: #FFF;
  color: #000;
}

.sub-nav-1 {
  margin: 0 auto;
}

.sub-nav-1 ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.sub-nav-1 li {
  list-style-type: none;
  padding: 0 0.5em 0.5em 0;
  display: inline-block;
}

.sub-nav-1 a {
  border-bottom: 0.1em solid #ccc;
  -o-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 0 0.2em 0;
  font-size: 0.8em;
}

.sub-nav-1 a:hover,
.sub-nav-1 a:focus,
.sub-nav-1 a:active {
  border-color: #000;
  color: #FFF;
}

/* COMPANY */
.company {
  padding: 1em;
}

.company-bg {
  background-color: #f1ede4;
}

/* WHY DPS */
.why-dps,
.bring,
.process {
  padding: 1em 1em 0 1em;
  background-color: #f1ede4;
}

.leader,
.partners {
  padding: 1em 1em 1em 1em;
}

.partners img {
  text-align: center;
}

/* OUR WORK */
.work {
  padding: 1em 1em 1em 1em;
}

/* CONTACT */

.contact {
  padding: 1em 1em 0 1em;
  background-color: #f1ede4;
  text-align: center;
}

.media,
.careers,
.new-business {
  text-align: left;
}

h4 {
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 1em;
  margin-bottom: -0.8em;
}

.copyright {
    padding: 0 1em 0.5em 1em;
    width: 100%;
}

.copyright p {
    font-size: 0.5em;
    text-transform: uppercase;
    text-align: center;
}

@media only screen and (min-width: 21em) {
  .logo {
    padding: 14.5% 0 10% 0;
  }

  .logo-2 {
    padding: 14.5% 0 10% 0;
  }
}

@media only screen and (min-width: 27em) {
  .workshop-text,
  .company,
  .why-dps,
  .partners,
  .bring,
  .leader,
  .process,
  .work,
  .contact {
    padding: 2em;
  }

  .logo {
    padding: 10.5% 0 10% 0;
  }

  .logo-2 {
    padding: 10.5% 0 10% 0;
  }
}

@media only screen and (min-width: 33em) {
  .logo {
    padding: 11.5% 0 11% 0;
  }

  .logo-2 {
    padding: 11.5% 0 11% 0;
  }

  .workshop-text,
  .company,
  .why-dps,
  .partners,
  .bring,
  .leader,
  .process,
  .work,
  .contact {
    padding: 3em;
  }

  h3 {
    font-size: 2em;
  }

  .sub-body,
  .body {
    font-size: 1em;
  }

  .sub-nav a {
    font-size: 1em;
  }
}

@media only screen and (min-width: 39em) {
  .logo {
    padding: 16% 0 11% 0;
  }

  .logo-2 {
    padding: 16% 0 11% 0;
  }
}

@media only screen and (min-width: 40em) {
  .flex-logo {
    display: none;
  }

  .flex-logo-1 {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 5% 0 5% 0;
  }

  .logo {
    padding: 2.6% 0 8.4% 0;
  }

  .logo-2 {
    padding: 2.6% 0 8.4% 0;
  }

  .container {
    display: none;
  }

  .nav-head {
    display: block;
    margin: 0 auto;
    padding: 1em 0 1em 0em;
    text-align: center;
  }

  .nav-head ul {
    margin: 0 auto;
    padding: 0;
    font-size: 0.8em;
  }

  .nav-head li {
    list-style-type: none;
    display: inline-block;
    padding: 0 0.9em 0.5em 0.9em;
  }

  .nav-head a {
    border-bottom: 0.1em solid #ccc;
    -o-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -webkit-transition: all 100ms linear;
    transition: all 100ms linear;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 0.2em;
  }

  .nav-head a:hover,
  .nav-head a:focus,
  .nav-head a:active {
    border-color: #000;
    color: #FFF;
  }

  sticknav {
    height: 8%;
    width: 100%;
    margin-right: 0px;
    left: 0px;
    position: relative;
    z-index: 9999;
    }

  .fixed { 
    position:fixed;
  }

  .service-1,
  .service-2,
  .service-3 {
    display: block;
    color: #FFF;
  }

  .service-1 h2,
  .service-2 h2,
  .service-3 h2 {
    color: #FFF;
    text-transform: lowercase;
    font-size: 2em;
  }

  .icon {
    margin: 0 auto;
    text-align: center;
  }

  .sub-head {
    text-transform: uppercase;
    font-size: 0.8em;
    margin: 0;
    font-family: georgia, serif;
    letter-spacing: 1px;
  }

  .caps {
    text-transform: uppercase;
    margin: 0 auto;
    padding: 1em 1em 0 1em;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
  }

  .caps-2 {
    margin: 0 auto;
    padding: 0em 1em 0em 1em;
    text-align: center;
    font-weight: lighter;
    font-size: 0.9em;
  }

  .workshop-text,
  .company,
  .why-dps,
  .partners,
  .bring,
  .leader,
  .process,
  .work,
  .contact {
    padding: 2em;
  }

  .mobile-layout {
    display: none;
  }

  .desktop-layout {
    display: block;
  }

  .why-dps-1 {
    position: absolute;
  }

  .why-dps-text {
    position: relative;
    background-color: rgba(0,0,0,0.56);
    padding: 39% 0 3% 0;
  }

  .why-dps-text h2 {
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
  }

  .work {
    text-align: center;
  } 

  .workshop-img {
    position: absolute;
  }

  .workshop-text {
    position: relative;
    background-color: rgba(0,0,0,0.56);
    color: #FFF;
    padding: 7.7% 5% 7.7% 5%;
  }

  .workshop-text h3 {
    border-color: #FFF;
  }

  .workshop-text .sub-body {
    color: #FFF;
  }

  .workshop-text .sub-nav a {
    color: #FFF;
  }

  .medical-text {
    position: relative;
    background-color: rgba(0,0,0,0.56);
    color: #FFF;
    padding: 6.5% 5% 6.5% 5%;
  }

  .medical-text h3 {
    border-color: #FFF;
  }

  .medical-text .sub-body {
    color: #FFF;
  }

  .medical-text .sub-nav a {
    color: #FFF;
  }

  .r-padding {
    padding-right: 1em;
  }

  .media,
  .careers,
  .new-business {
    text-align: left;
    padding: 0 1em 0 0;
  }

  .logo-1 {
    display: none;
  }

}

@media only screen and (min-width: 46em) {
  .logo {
    padding: 2% 0 16.1% 0;
  }

  .logo-2 {
    padding: 2% 0 16.1% 0;
  }

  .company {
    padding: 2.4em;
  }

  .why-dps-text {
    padding: 40% 0 3% 0;
  }

  .workshop-text {
    padding: 11.2% 5% 11% 5%;
  }

  .medical-text {
    padding: 10% 5% 10% 5%;
  }
}

@media only screen and (min-width: 52em) {
  .logo {
    padding-bottom: 14.2%;
  }

  .logo-2 {
    padding-bottom: 14.2%;
  }

  .flex-logo-1 {
    padding-bottom: 10%;
  }

  .why-dps-text {
    padding-bottom: 3.9%;
  }

  .workshop-text {
    padding-bottom: 13.9%;
  }

  .medical-text {
    padding-bottom: 13%;
  }
}

@media only screen and (min-width: 58em) {
  .logo {
    padding-bottom: 8.4%;
  }

  .logo-2 {
    padding-bottom: 8.4%;
  }

  .logo-img {
    display: block;
    width: 100%;
  }

  .logo-img img {
    max-height: 90%;
    max-width: 100%;
  }

  .flex-logo-1 {
    padding-bottom: 10%;
  }

  .why-dps-text {
    padding-bottom: 4.5%;
  }

  .workshop-text {
    padding-bottom: 20.5%;
  }

  .medical-text {
    padding-bottom: 18%;
  }
}

@media only screen and (min-width: 65em) {
  .flex-logo-1 {
    padding: 7% 0 8% 0;
    width: 40%;
  }

  .why-dps-text {
    padding-bottom: 5%;
  }

  .workshop-text {
    padding-bottom: 21.6%;
  }

  .medical-text {
    padding-bottom: 20%;
  }
     .view {
    width: 300px;
    height: 200px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
}
.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-fifth img {
    transition: all 0.3s ease-in-out; 
}
.view-fifth .mask { 
    background-color: rgba(146,96,91,0.3);
    transform: translateX(-300px);
    opacity: 1;
    transition: all 0.4s ease-in-out; 
}
.view-fifth h2{
    background: rgba(255, 255, 255, 0.5);
    color: #000;
    box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
}
.view-fifth p{
    opacity: 0;
    color: #333;
    transition: all 0.2s linear;
}
.view-fifth:hover .mask { 
    transform: translateX(0px);
}                       
.view-fifth:hover img { 
    transform: translateX(300px);
    transition-delay: 0.1s;
}
.view-fifth:hover p{
    opacity: 1;
    transition-delay: 0.4s;
}   .view {
    width: 300px;
    height: 200px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
}
.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-fifth img {
    transition: all 0.3s ease-in-out; 
}
.view-fifth .mask { 
    background-color: rgba(146,96,91,0.3);
    transform: translateX(-300px);
    opacity: 1;
    transition: all 0.4s ease-in-out; 
}
.view-fifth h2{
    background: rgba(255, 255, 255, 0.5);
    color: #000;
    box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
}
.view-fifth p{
    opacity: 0;
    color: #333;
    transition: all 0.2s linear;
}
.view-fifth:hover .mask { 
    transform: translateX(0px);
}                       
.view-fifth:hover img { 
    transform: translateX(300px);
    transition-delay: 0.1s;
}
.view-fifth:hover p{
    opacity: 1;
    transition-delay: 0.4s;
}
}

@media only screen and (min-width: 71em) {
  .logo {
    padding-bottom: 9.5%;
  }

  .logo-2 {
    padding-bottom: 9.5%;
  }

  .flex-logo-1 {
    padding: 5% 0 5% 0;
    width: 40%;
  }

  .why-dps-text {
    padding-bottom: 5%;
  }

  .workshop-text {
    padding-bottom: 21.5%;
  }

  .medical-text {
    padding-bottom: 20%;
  }
}

@media only screen and (min-width: 77em) {
  .logo {
    padding-bottom: 6.3%;
  }

  .logo-2 {
    padding-bottom: 6.3%;
  }

  .flex-logo-1 {
    padding: 5% 0 5% 0;
    width: 40%;
  }

  .why-dps-text {
    padding-bottom: 5.9%;
  }

  .workshop-text {
    padding-bottom: 22.3%;
  }

  .medical-text {
    padding-bottom: 23%;
  }
}

@media only screen and (min-width: 90em) {
  .logo {
    padding-bottom: 5.2%;
  }

  .logo-2 {
    padding-bottom: 0%;
  }

  .sub-nav-1 {
    padding-top: 34.3%;
  }

  .flex-logo-1 {
    padding: 3% 0 3% 0;
    width: 40%;
  }

  .why-dps-text {
    padding-bottom: 6.4%;
  }

  .workshop-text {
    padding-bottom: 23.8%;
  }

  .medical-text {
    padding-bottom: 23%;
  }

  #med-ex,
  #med-sol,
  #trainer,
  #kol,
  #kol-recruit,
  #ad-board,
  #speak-forum,
  #communication,
  #strategy,
  #market-design,
  #brand,
  #facilitate,
  #sales-train,
  #workshop,
  #strategic-plan {
    padding: 4em;
  }

  #med-ex,
  #trainer,
  #kol-recruit,
  #speak-forum,
  #communication,
  #market-design,
  #facilitate,
  #workshop {
    background-color: #f1ede4;
  }
}