@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.logo {
	padding: 0;
}

.flex-logo-1 {
	display: none;
    height: 0;
}

.flex-logo {
    display: none;
    height: 0;
    width: 0;
}

.flex-logo1 {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 0% 0 0% 0;
  }

.container {
	display: none;
}

.ie-nav {
	text-align: center;
	background-color: #000;
	display: block;
}

#menu {
    padding: 0;
    margin: 0;
}

#menu li {
	display: inline-block;
	*display: inline;
	padding: 1em 0;
	zoom: 1;
}

#menu li ul {
    display: none;
    position: absolute;
    left: 0; /*aligns the dropdown to the horizontal tabs*/
}

#menu li:hover ul, #menu li.over ul {
    display: block;
    text-align: center;
    width: 100%;
    background-color: #FFF;
    margin-top: 2.3%;
    left: 0;
}

#menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    letter-spacing: 1px;
    padding: 1em 1em;
}

#menu li a:hover {
    text-decoration: none;
    border-bottom: 2px solid #FFF;
}

#menu li ul li {
    line-height: 10px;
    padding: 1em;
}

#menu li ul li a {
	color: #000;
}

#menu li ul li a:hover {
	border-bottom: 2px solid #000;
}