<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

	<!-- Work page begins ======================================================================= -->
		
			<!-- Project begins ================================================================= -->
			<div class="project">
				
				<div class="projectThumbnail">
					<svg class="thumbnailMask"></svg>
					<div class="projectThumbnailHover">
						<h4>Spriva</h4>
					</div>
					
					<img src="img/cover-spriva.jpg" class=		font-weight: bold;
"thumbnailImage">
				</div>
				
				<div class="projectInfo">
					<h4>Spriva</h4>
					<div class="projectNavCounter"></div>
					<div class="projectNav">
						<div class="projectNavEnlarge"><button class="enlargeButton" onClick="window.location.href='projects/project_01/index.html'">View full-size</button></div>
						<div class="projectNavClose"><button class="closeButton">Close</button></div>
						<div class="projectNavButtons"><button class="prev"></button><button class="next"></button></div>
					</div>
					<p class="body">
						This is a description of the project. This text is optional and the site layout works fine without it. The slider above (included in the Pro version only) is swipe-enabled with hardware accelerated transitions so it works super-smoothly on touch devices like the iPhone and iPad.
					</p>
				</div>
				
			</div>
			<!-- Project ends =================================================================== -->
	<!-- Work page ends ========================================================================= -->
