<div class="unit unit-m-1 unit-l-1">
      <sticknav>
      <div class="unit unit-m-3-1 unit-l-3-1">
        <a href="{{site.baseurl}}/"><img src="img/logo-1.svg" class="flex-logo-2"></a>
      </div>
      <div class="unit unit-m-1-5 unit-l-1-5">
      <div id='cssmenu-1'>
        <ul>
          <li><a href='{{site.baseurl}}/'>Home</a></li>
          <li class='has-sub'><a href='{{site.baseurl}}#company'>Company</a>
            <ul>
              <li><a href='#'>Leadership</a></li>
              <li><a href='#'>Expertise</a></li>
              <li><a href='#'>Credibility</a></li>
            </ul>
          </li>
          <li class="has-sub active"><a href='{{site.baseurl}}#capabilities'>Capabilities</a>
            <ul>
              <li class='has-sub'><a href='{{site.baseurl}}#medical'>Medical Education</a>
                <ul>
                 <li><a href='{{site.baseurl}}/medical-education.html#med-ex'>Medical Education</a></li>
                 <li><a href='{{site.baseurl}}/medical-education.html#ad-board'>Advisory Boards</a></li>
                 <li><a href='#'>Digital Education</a></li>
                 <li><a href='{{site.baseurl}}/medical-education.html#trainer'>Train-the-Trainer</a></li>
                 <li><a href='{{site.baseurl}}/medical-education.html#speak-forum'>Speakers Forum</a></li>
                 <li><a href='{{site.baseurl}}/medical-education.html#kol'>Key Opinion Leader Advocacy</a></li>
                </ul>
              </li>
              <li class='has-sub'><a href='{{site.baseurl}}#workshop-1'>Workshops & Training</a>
                <ul>
                 <li><a href='{{site.baseurl}}/workshop.html#workshop'>Workshops</a></li>
                 <li><a href='{{site.baseurl}}/workshop.html#sales-train'>Sales Training</a></li>
                 <li><a href='{{site.baseurl}}/workshop.html#strategic-plan'>Strategic Planning</a></li>
                 <li><a href='{{site.baseurl}}/workshop.html#facilitate'>Facilitating</a></li>
                </ul>
              </li>
              <li class='has-sub'><a href='{{site.baseurl}}#marketing'>Marketing</a>
                <ul>
                 <li><a href='{{site.baseurl}}/marketing.html#communication" rel="home'>Marketing Communications</a></li>
                 <li><a href='{{site.baseurl}}/marketing.html#market-design" rel="home'>Website Design and Development</a></li>
                 <li><a href='{{site.baseurl}}/marketing.html#brand'>Brand Design and Development</a></li>
                 <li><a href='{{site.baseurl}}/marketing.html#strategy'>Strategic Marketing</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href='{{site.baseurl}}/#contact'>Contact</a></li>
        </ul>
        </div>
    </div>
    </sticknav>
  </div>
