@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font: normal 100%/1.4 sans-serif;
}

body {
  margin: 0 auto;
  padding: 0;
}

/* HEADER */
.logo-img {
  position: absolute;
}

.logo {
  padding: 10% 0 18% 0;
  position: relative;
  background-color: rgba(0,0,0,0.56);
  width: 100%;
}

/* DEFAULT LAYOUT */
.flex-logo {
	display: block;
	width: 80%;
	margin: 0 auto;
}

.flex-logo-1 {
  display: none;
}
/* END DEFAULT LAYOUT */

/* NAV HTML */
.flex-logo-2 {
  display: none;
  padding: 0.5em;
}

.flex-logo-3 {
  display: block;
  width: 98%;
  padding: 1em 0 0.5em 0;
}

.flex-logo-4 {
  display: block;
  width: 80%;
  padding: 1em 0 0.5em 0;
}

.flex-logo-5 {
  display: none;
}

.flex-logo-6 {
  width: 100%;
  display: block;
  padding: 1em 0 0 0;
}

/* END NAV HTML */

.flex-img {
  display: block;
  width: 100%;
}

.flex-img-1 {
  display: block;
  width: 100%;
}

.flex-img-2 {
  display: none;
  width: 100%;
}

.icon {
  display: none;
}

#cssmenu {
  display: none;
}

.mobile-layout {
  display: block;
}

.desktop-layout {
  display: none;
}

.workshop-img {
  position: relative;
}

h2 {
  font-weight: lighter;
  font-size: 1.5em;
  margin: 0 auto;
  padding: 0.8em 0 0em 0;
  color: #000;
}

h3 {
	display: inline-block;
  border-bottom: 1px solid #000;
  font-size: 1em;
  text-transform: uppercase;
  margin: 0 auto;
}

.body {
	margin: 0 auto;
  padding: 1em 0 0 0;
}

.sub-body {
	margin: 0 auto;
  letter-spacing: 0.5px;
  color: #000;
  font-size: 0.8em;
  padding: 0.5em 0 0 0;
  text-transform: uppercase;
}

.mob-padding {
  padding: 1em;
}

/* SUB NAVIGATION */
.sub-nav {
  padding: 1.2em 0;
}

.sub-nav a {
  position: relative;
  display: block;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1em;
  padding: 0.5em 0 0.5em 0;
}

.sub-nav a:hover,
.sub-nav a:focus {
  outline: none;
}

.cl-effect-17 a {
  color: grey;
  text-shadow: none;
  letter-spacing: 0.5px;
}

.cl-effect-17 a::before {
  color: #152a3f;
  content: attr(data-hover);
  position: absolute;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}

.cl-effect-17 a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 5%;
  width: 100%;
  height: 2px;
  background: #152a3f;
  opacity: 0;
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}

.cl-effect-17 a:hover::before,
.cl-effect-17 a:focus::before {
  opacity: 0;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  transform: translateY(-2px);
}

.cl-effect-17 a:hover::after,
.cl-effect-17 a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
/* END SUB NAVIGATION */

/* COMPANY */
.company {
  padding: 1em;
}

/* WHY DPS */
.why-dps {
  background-color: #152a3f;
}

.why-dps h3 {
  color: #FFF;
  border-bottom: 1px solid #FFF;
}

.why-dps .sub-body {
  color: #FFF;
}

.why-dps,
.process,
.leader {
  padding: 1em 1em 1em 1em;
}

.bring,
.partners {
  padding: 1em 1em 1em 1em;
}

.logo-spacer {
  padding: 2em 1em;
}

/* LEADERSHIP */
.leader-img {
  position: absolute;
}

.leader-text {
  position: relative;
}

/* SERVICE PAGE COMMON CSSS */
.logo-1 {
  padding: 40% 1em 1.84em 1em;
  position: relative;
  background-color: rgba(0,0,0,0.56);
  width: 100%;
  text-align: center;
}

.logo-1 h3 {
  color: #FFF;
  display: inline-block;
  border-bottom: 1px solid #FFF;
}

.logo-2 {
  padding: 20% 1em 1em 1em;
  position: relative;
  background-color: rgba(0,0,0,0.56);
  width: 100%;
  text-align: center;
}

.logo-2 h3 {
  color: #FFF;
  display: inline-block;
  border-bottom: 1px solid #FFF;
  font-size: 1.7em;
}

.body-1 {
  margin: 0 auto;
  padding: 1em 0 0 0;
  font-size: 0.9em;
}

.sub-title {
  display: inline-block;
  border-bottom: 1px solid #000;
  font-size: 1em;
  text-transform: uppercase;
  margin: 0 auto;
  font-weight: 400;
  padding: 1em 0 0 0;
  letter-spacing: 1px;
}

.sub-body-1 {
  margin: 0 auto;
  letter-spacing: 0.5px;
  color: #000;
  font-size: 0.8em;
  padding: 0.5em 0 0 0;
  text-transform: uppercase;
}

.list-1 {
font-size: 0.9em;
margin: 0;
padding: 0.5em 0 0 1em;
}

.relative {
  position: relative;
  background-color: #FFF;
}

/* OUR WORK */
.work-m {
    text-align: center;
    padding: 6em 4em 0 4em;
  }

  .work-w,
  .work-med {
    text-align: center;
    padding: 2em;
    background-color: #152a3f;
    color: #FFF;
  }

.work-w h3,
  .work-med h3 {
    border-color: #FFF;
  }

  .work-w .sub-body,
  .work-med .sub-body {
    color: #FFF;
  }

/* MEDICAL EDUCATION */
.med-ex,
.med-ed,
.kol,
.trainer,
.ad-board,
.speak-forum,
.med-research {
  padding: 1em;
}

.content {
  margin-top:0;
  padding:0px;
  bottom:0px;
  height: 972px;
}

.demo{
  width: 100%;
}

.ic_container{
  vertical-align:baseline;
  margin: 0;
  position:relative;
  /*-moz-border-radius:10px;
  -webkit-border-radius:10px;
  -khtml-border-radius:10px;
  -moz-box-shadow: 0 1px 3px #888;
  -webkit-box-shadow: 0 1px 3px #888;*/
}

.overlay{
  opacity:0.3;
  position:absolute;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

.ic_caption{
  position:absolute;
  opacity:0.6;
  overflow:hidden;
  margin:0px;
  padding:0px;
  left:0px;
  right:0px;
  cursor:default;s
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}

.ic_caption h3 {
  padding: 0.5em;
  margin: 0px;
  font-size: 1em;
  border-bottom: none;
}

.ic_text {
  padding: 0.5em;
  margin: 0px;
  text-align: justify;
  font-size: 0.8em;
}

/* WORKSHOP */
.workshop,
.facilitating,
.training,
.planning {
  padding: 1em
}

/* DPS ORGINAL MARKETING */
.market-logo {
  width: 100%;
  display: block;
  padding: 0 0 0.3em 0;
}

.communications,
.web-design,
.brand-design,
.market-strategy {
  padding: 1em;
}

/* CONTACT */
.contact {
  padding: 1em;
  background-color: #152a3f;
  position: relative;
}

.contact h3 {
  color: #FFF;
  border-bottom: #FFF solid 1px;
}

.contact-body {
  margin: 0 auto;
  color: #FFF;
  font-size: 0.9em;
  padding: 0.5em 0 0 0;
}

.contact .sub-body {
  color: #FFF;
}

.phone .body {
    color: #FFF;
    font-weight: 100;
}

.phone a {
  text-decoration: none;
  color: #FFF;
  font-weight: 100;
}

.flex-logo-8 {
    width: 100%;
    padding: 1em 0;
  }

  .flex-logo-7 {
    width: 100%;
    margin-left: -7.5%;
  }

h4 {
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 1em;
  margin-bottom: -0.3em;
  color: #FFF;
}

.media,
.careers,
.new-business {
  text-align: left;
  padding: 1em 0 0 0;
}

.contact-nav a {
  position: relative;
  display: block;
  outline: none;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.8em;
  padding: 0.1em 0 0em 0;
}

.contact-nav a:hover,
.contact-nav a:focus {
  outline: none;
  font-weight: bold;
}

.contact-effect a {
  color: #FFF;
  text-shadow: none;
}

.copyright {
    padding: 1em;
    width: 100%;
}

.copyright p {
    font-size: 0.5em;
    text-transform: uppercase;
    text-align: center;
}

@media only screen and (min-width: 15em) {
  .logo {
    padding: 10% 0 16% 0;
  }

  .logo-1 {
    padding: 50% 1em 1em 1em;
  }
  .contact-nav a {
    font-size: 1em;
  }

  .content {
  height: 1363px;
  }

  h3 {
    font-size: 1.4em;
  }
}

@media only screen and (min-width: 20em) {
  .logo {
    padding: 14.5% 0 18% 0;
  }

  .logo-1 {
    padding: 67% 1em 1em 1em;
  }

  .logo-2 h3 {
    font-size: 2.45em;
  }

  .mob-padding {
    padding: 2em;
  }

  .company {
    padding: 2em;
  }

  .why-dps,
  .process,
  .leader,
  .bring,
  .partners {
    padding: 2em;
  }

  /* MEDICAL EDUCATION */
  .med-ex,
  .med-ed,
  .kol,
  .trainer,
  .ad-board,
  .speak-forum,
  .med-research {
    padding: 2em;
  }

  .content {
    height: 1844px;
  }

  /* WORKSHOP */
  .workshop,
  .facilitating,
  .training,
  .planning {
    padding: 2em
  }

  /* DPS ORGINAL MARKETING */
  .communications,
  .web-design,
  .brand-design,
  .market-strategy {
    padding: 2em;
  }

  .contact {
    padding: 2em;
  }
}

@media only screen and (min-width: 22.5em) {
  .logo {
    padding: 14.5% 0 20.5% 0;
  }

  .logo-1 {
    padding: 75% 1em 1em 1em;
  }

  .content {
    height: 2088px;
  }

  .logo-2 h3 {
    font-size: 2.8em;
  }
}

@media only screen and (min-width: 27em) {
  .company,
  .why-dps,
  .partners,
  .bring,
  .leader,
  .process,
  .contact {
    padding: 2em;
  }

  .content {
height: 2522px;
}
}

@media only screen and (min-width: 33em) {
  .logo {
    padding: 8.5% 0 11% 0;
  }

  .logo-2 {
    padding: 15% 6em 6em 6em;
  }

  .flex-logo {
    width: 60%;
  }

  .company,
  .why-dps,
  .partners,
  .bring,
  .leader,
  .process,
  .contact {
    padding: 3em;
  }

  h3 {
    font-size: 2em;
    font-weight: 300;
  }

  .sub-body,
  .body {
    font-size: 1em;
  }

  .logo-spacer {
    padding: 2em 1em;
  }

  /* MEDICAL EDUCATION */
  .med-ex,
  .med-ed,
  .kol,
  .trainer,
  .ad-board,
  .speak-forum,
  .med-research {
    padding: 3em;
  }

  .content {
height: 3132px;
}

  /* WORKSHOP */
  .workshop,
  .facilitating,
  .training,
  .planning {
    padding: 3em
  }

  /* DPS ORGINAL MARKETING */
  .communications,
  .web-design,
  .brand-design,
  .market-strategy {
    padding: 3em;
  }

  .logo-2 h3 {
font-size: 3em;
}
}

@media only screen and (min-width: 37em) {
  .logo {
    padding: 11% 0 10% 0;
  }

  /* MEDICAL EDUCATION */
  .med-ex,
  .med-ed,
  .kol,
  .trainer,
  .ad-board,
  .speak-forum,
  .med-research {
    padding: 4em;
  }

  .content {
height: 3537px;
}

  /* WORKSHOP */
  .workshop,
  .facilitating,
  .training,
  .planning {
    padding: 4em
  }

  /* DPS ORGINAL MARKETING */
  .communications,
  .web-design,
  .brand-design,
  .market-strategy {
    padding: 4em;
  }
}

@media only screen and (min-width: 37.6em) {
.content {
height: 3555px;
}

.logo-2 h3 {
font-size: 3.7em;
}
}

@media only screen and (min-width: 39em) {
  .logo {
    padding: 16% 0 11% 0;
  }

  .content {
height: 3684px;
}
}

@media only screen and (min-width: 48em) {
  .flex-logo {
    display: none;
  }

  .flex-logo-1 {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 5% 0 5% 0;
  }

  .flex-logo-2 {
    display: block;
    width: 50%;
    padding: 0.5em;
  }

  .flex-img-2 {
    display: block;
    width: 100%;
  }

  .flex-img-1 {
    display: none;
  }

  .logo {
    padding: 0% 0 3% 0;
  }

  .logo-1 {
    padding: 0;
    text-align: left;
  }

  .logo-2 {
    padding: 0;
    text-align: left;
  }

  .flex-logo-5 {
    display: block;
  }

  .mobile-layout {
    display: none;
  }

  .desktop-layout {
    display: block;
  }

  .container {
    display: none;
  }

  header {
    width: 100%;
    background-color: #FFF;
  }

  #cssmenu {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 0.8em;
    display: block;
  }

  #cssmenu ul,
  #cssmenu li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #cssmenu ul {
    position: relative;
    z-index: 597;
  }

  #cssmenu ul li {
    min-height: 1px;
    vertical-align: middle;
    display: inline-block;
  }

  #cssmenu ul li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
  }

  #cssmenu ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
    width: 100%;
  }

  #cssmenu ul ul li {float: none;}
  #cssmenu ul ul ul {top: 0; left: auto; right: -99.5%; }
  #cssmenu ul li:hover > ul { visibility: visible;}
  #cssmenu ul ul {bottom: 0; left: 0;}
  #cssmenu ul ul {margin-top: 0; }
  #cssmenu ul ul li {font-weight: normal;}
  #cssmenu a { display: block; line-height: 1em; text-decoration: none; }

  #cssmenu > ul { *display: inline-block; }

  #cssmenu:after, #cssmenu ul:after {
    content: '';
    display: block;
    clear: both;
  }

  #cssmenu a {
    color: #152a3f;
    padding: 0 18.1px;
  }

  #cssmenu ul { text-transform: uppercase; border-bottom: 1px solid #152a3f; text-align: center;}

  #cssmenu ul ul {
    text-transform: none;
    min-width: 130px;
    text-align: left;
  }

  #cssmenu ul ul a {
    background: rgba(255,255,255,0.8);
    color: #152a3f;
    border-bottom: 1px solid #FFF;
    border-top: 0 none;
    line-height: 150%;
    padding: 16px 20px;
    text-transform: uppercase;
  }

  #cssmenu ul ul ul { border-top: 0 none; }
  #cssmenu ul ul li { position: relative; width: 100%;}
  #cssmenu > ul > li > a { line-height: 55px;  }
  #cssmenu ul ul li:first-child > a { border-top: 1px solid #FFF; }
  #cssmenu ul ul li:hover > a { border-bottom: 3px solid #152a3f; }

  #cssmenu ul ul li:last-child > a {
    box-shadow: 0 1px 0 #FFF;
  }

  #cssmenu ul ul li:last-child:hover > a {}

  #cssmenu ul ul li.has-sub > a:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -8px;
  }

  #cssmenu ul li:hover > a, #cssmenu ul li.active > a {
      border-bottom: 3px solid #152a3f;
  }

  #cssmenu ul li.has-sub > a:after {
    content: '';
    margin-left: 5px;
  }

  #cssmenu ul li.last ul {
    left: auto;
    right: 0;
  }

  #cssmenu ul li.last ul ul {
    left: auto;
    right: 99.5%;
  }

  .show {
    background: rgba(255,255,255,0.85);
  }

  sticknav {
    width: 100%;
    margin-right: 0px;
    left: 0px;
    position: relative;
    z-index: 9999;
    height: inherit;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    }

  .fixed {
    position:fixed;
  }

  /* THREE SERVICE BUCKETS */
  .icon {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .service-1,
  .service-2,
  .service-3 {
    display: block;
    color: #FFF;
    padding: 1em 0 1.6em 0;
  }

  .service-1 h2,
  .service-2 h2,
  .service-3 h2 {
    color: #FFF;
    text-transform: lowercase;
    font-size: 2em;
    font-weight: 300;
    padding: 0;
  }

  .sub-head {
    text-transform: uppercase;
    font-size: 0.8em;
    margin: 0;
    letter-spacing: 1.5px;
    font-weight: 300;
    line-height: 1em;
  }

  .sub-body {
    font-weight: 300;
    padding: 0.5em 0 0.5em 0;
  }

  .caps {
    text-transform: uppercase;
    margin: 0 auto;
    padding: 1em 1em 0 1em;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
  }

  .caps-2 {
    margin: 0 auto;
    padding: 0em 1em 0em 1em;
    text-align: center;
    font-weight: lighter;
    font-size: 0.9em;
  }

  .icon-nav a {
    position: relative;
    display: block;
    outline: none;
    text-decoration: none;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
  }

  .icon-nav a:hover,
  .icon-nav a:focus {
    outline: none;
  }

  .icon-effect a:hover,
  .icon-effect a:focus {
    background-color: rgba(0,0,0,0.7);
  }
  /* END THREE SERVICE BUCKETS */

  /* COMPANY */
  .company-img {
    position: absolute;
  }

  .company {
    position: relative;
    color: #FFF;
    padding: 1.4em 2em 1.4em 26em;
    background-color: rgba(0,0,0,0.35);
    text-align: justify;
  }

  .company h3 {
    border: none;
    font-weight: 100;
    line-height: 100%;
    text-align: left;
  }

  /* WHY DPS */
  .why-dps {
    text-align: center;
    background-color: #FFF;
    position: relative;
  }

  .why-dps h3 {
    color: #000;
    border-bottom: 1px solid #000;
  }

  .why-dps .sub-body {
    color: #000;
  }

  .right-pad {
    padding: 0.5em 1em 0 0;
  }

  .logo-spacer {
    padding: 2em 1em;
  }

  /* LEADERSHIP */
  .leader-text {
    padding: 5.7em 5em;
  }

  .leader-text h3 {
    color: #000;
    border-bottom: 1px solid #000;
  }

  .leader-text .sub-body {
    color: #000;
  }

  .lowerc {
    text-transform: capitalize;
    font-weight: 300;
    padding: 0.5em 0 0 0;
    margin: 0 0 -0.5em;
    color: #000;
  }

  /* SERVICES */
  .sub-nav {
    padding: 0;
  }

  .sub-nav a {
    padding: 1em 0 0.5em 0;
  }

  .cl-effect-17 a::before {
    color: #FFF;
  }

  .cl-effect-17 a::after {
    background: #FFF;
  }

  .body-1 {
    margin: 0 auto;
    padding: 1em 0 0 0;
    font-size: 1em;
  }

  .body-2 {
    padding: 0;
    margin: 0;
    font-size: 1em;
  }

  .workshop-img {
    position: absolute;
  }

  .workshop-text,
  .market-text,
  .medical-text {
    position: relative;
    background-color: rgba(0,0,0,0.56);
    color: #FFF;
  }

  .workshop-text h3,
  .market-text h3,
  .medical-text h3 {
    border-color: #FFF;
  }

  .medical-text .sub-body,
  .workshop-text .sub-body,
  .market-text .sub-body {
    color: #FFF;
  }

  .r-padding-2 {
    padding: 5em 6em 5em 5em;
  }

  .r-padding-3 {
    padding: 4.9em 6em 4.9em 5em;
  }

  .med-link {
    padding: 3em 2em;
    background-color: rgba(0,0,0,0.3);
  }

  .market-link {
    padding: 6.5em 2em;
    background-color: rgba(0,0,0,0.3);
  }

  #market-1 h3 {
    font-size: 3.08em;
  }

  .work-link {
    padding: 8em 2em;
    background-color: rgba(0,0,0,0.3);
  }

  /* SERVICE PAGES */
  #back-top {
  position: absolute;
  right: 3%;
  margin: 0;
  top: 3%;
  text-align: center;
  }

  #back-top a {
    display: block;
    color: #000;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    text-decoration: none;
  }

  #back-top a:hover {
  }

  /* arrow icon */
  #back-top span {
    width: 100%;
    height: 100%;
    display: block;
    -moz-border-radius: 3px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    font-size: 3em;
    font-family: 'PT SANS', sans-serif;
  }

  #back-top a:hover span {
    color: gray;
  }

  .logo-1 .sub-body {
    color: #FFF;
  }

  .logo-2 .sub-body {
    color: #FFF;
  }

  .list-1 li {
    padding: 0 2.2em 0 0;
  }

  .service-h3 {
    font-size: 1.2em;
  }

  .r-padding {
    padding: 5em 6em 5em 5em;
  }

  .r-padding-1 {
    padding: 5em 6em 5em 5em;
  }

  .market-link-1 {
    padding: 4.7em 2em;
    background-color: rgba(0,0,0,0.3);
  }

  .med-link-1 {
    padding: 1.8em 2em;
    background-color: rgba(0,0,0,0.3);
  }

  .work-link-1 {
    padding: 6.5em 2em;
    background-color: rgba(0,0,0,0.3);
  }

  .relative {
    position: relative;
    background-color: #FFF;
  }

  .border {
  border-left: 1px solid #000;
  padding: 0 0 0 1em;
  }

  /* OUR WORK */
  .work-m {
    text-align: center;
    padding: 6em 4em 0 4em;
  }

  .work-w,
  .work-med {
    text-align: center;
    padding: 2em 4em;
    color: #000;
    border-top: 1px solid #000;
  }

  .work-w h3,
  .work-med h3 {
    border-color: #000;
  }

  .work-w .sub-body,
  .work-med .sub-body {
    color: #000;
  }

  /* MEDICAL EDUCATION */
  .med-ed,
  .kol,
  .trainer,
  .ad-board,
  .speak-forum,
  .med-research {
    padding: 7em;
  }

  .inline {
    float: left;
    display: block;
  }

  .content {
  height: 360px;
}

.list-1 {
  padding: 1em 0 0 1em;
}

  /* WORKSHOP */
  .workshop,
  .facilitating,
  .training,
  .planning {
    padding: 8em;
  }

  /* DPS ORGINAL MARKETING */
  .market-logo {
    padding: 0 0 0.3em 0;
  }

  .communications,
  .web-design,
  .brand-design,
  .market-strategy {
    padding: 8em;
  }

  .logo-2 h3 {
    font-size: 3em;
  }

  .flex-logo-5 {
    display: block;
    width: 46%;
    padding: 0.5em 0;
  }

  /* CONTACT */
  .contact {
    padding: 3.3em;
    text-align: center;
  }

  .c-logo {
    padding: 2.65em 1em 2.65em 0;
  }

  .flex-logo-8 {
    width: 100%;
    padding: 0 0 1em 0;
  }

  .flex-logo-7 {
    width: 100%;
    margin-left: -15%;
  }

  .c-bucket {
padding: 1em 0;
}

  .contact-body {
    padding: 1em 0 1em 0;
  }

  .media,
  .careers,
  .new-business {
    text-align: left;
    padding: 0 2em 0 0em;
  }

  .contact-nav a {
    font-size: 0.9em;
  }

  .phone .body {
    color: #FFF;
    font-size: 0.9em;
    padding: 1em 4em 0 4em;
  }
}

@media only screen and (min-width: 50em) {
  .flex-logo-2 {
    width: 48%;
  }

  #cssmenu a {
padding: 0 20.2px;
}

.company {
padding: 2.3em 3em 2em 27em;
}

.leader-text {
padding: 6.1em 5em;
}

  .market-link {
    padding: 7.6em 2em;
  }

  #market-1 h3 {
    font-size: 3.31em;
  }

  .content {
height: 376px;
}

  /* MARKETING */
  .flex-logo-5 {
    width: 44%;
  }

  .logo-2 h3 {
    font-size: 3.25em;
  }
  .market-link-1 {
    padding: 6em 2em;
  }

  .contact {
    padding: 4.3em;
  }

  .c-logo {
padding: 2.67em 1em 2.67em 0;
}
}

@media only screen and (min-width: 54em) {
  .flex-logo-2 {
width: 44%;
}

#cssmenu a {
padding: 0 24.8px;
}

  .logo-spacer {
padding: 1.4em 1em;
}

.company {
padding: 3em 3em 3em 31em;
}

.leader-text {
padding: 6.9em 5em;
}

.content {
height: 409px;
}

#market-1 h3 {
font-size: 3.73em;
}

.market-link-1 {
padding: 6.6em 2em;
}

.flex-logo-5 {
width: 41%;
}

.logo-2 h3 {
font-size: 3.67em;
}

.market-link-1 {
padding: 6.8em 2em;
}

.c-bucket {
padding: 1.9em 0;
}

.phone .body {
padding: 1em 4em 0 4em;
font-size: 1em
}
}

@media only screen and (min-width: 56em) {
  .flex-logo-2 {
width: 42.5%;
}

#cssmenu a {
padding: 0 26.9px;
}

.company {
padding: 4.5em 3em 4.3em 31em;
}

.leader-text {
padding: 7.3em 5em;
}

.content {
height: 424px;
}

#market-1 h3 {
font-size: 3.93em;
}

.flex-logo-5 {
width: 38.8%;
}

.logo-2 h3 {
font-size: 3.87em;
}

.market-link-1 {
padding: 7.3em 2em;
}

.c-bucket {
padding: 2.07em 0;
}

.phone .body {
padding: 1em 5em 0 5em;
}
}

@media only screen and (min-width: 60em) {
.flex-logo-2 {
width: 38.8%;
}

#cssmenu a {
padding: 0 31.2px;
}

.company {
padding: 6em 3em 5.9em 31.8em;
}

.leader-text {
padding: 8.1em 5em;
}

.content {
height: 457px;
}

#market-1 h3 {
font-size: 4.34em;
}

.sub-nav a {
padding: 2em 0 0.5em 0;
}

.logo-2 h3 {
font-size: 4.34em;
}

.flex-logo-5 {
width: 35.5%;
}

.c-bucket {
padding: 3.14em 0;
}

.phone .body {
padding: 1em 7em 0 7em;
}
}

@media only screen and (min-width: 62em) {
.flex-logo-2 {
width: 37.5%;
}

#cssmenu a {
padding: 0 33.3px;
}

.company {
padding: 7em 3em 6em 33.8em;
}

.leader-text {
padding: 8.5em 5em;
}

.content {
height: 472px;
}

#market-1 h3 {
font-size: 4.54em;
}

.flex-logo-5 {
width: 35%;
}

.logo-2 h3 {
font-size: 4.54em;
}

.market-link-1 {
padding: 7.6em 2em;
}

.c-bucket {
padding: 3.34em 0;
}

.phone .body {
padding: 1em 7em 0 7em;
}
}

@media only screen and (min-width: 64em) {
  .flex-logo-2 {
    width: 36.5%;
  }

  #cssmenu a {
    padding: 0 34.9px;
  }

  #cssmenu ul ul {
    min-width: 120px;
  }

  .logo {
padding: 0% 0 5% 0;
}

.flex-logo-1 {
padding: 7% 0;
}

.company {
padding: 5em 3em 5em 34em;
}

  h3 {
    font-size: 3em;
  }

  .sub-body-1 {
    font-size: 0.9em;
  }

  .logo-spacer {
    padding: 1.15em 1em;
  }

  .leader-text {
padding: 8em 5em;
}

  /* SERVICES */
  .sub-nav a {
    padding: 1.5em 0 0.5em 0;
  }

  .med-link {
    padding: 5.6em 3em;
  }

  .work-link {
    padding: 14em 3em;
  }

  .market-link {
    padding: 11em 3em;
  }

  #market-1 h3 {
    font-size: 3.18em;
  }

  .r-padding-2,
  .r-padding-3 {
    padding: 9.4em 15em 9.4em 6em;
  }

  .body-2, .body-1 {
    font-size: 1.2em;
  }

  .sub-body, .body {
    font-size: 1.05em;
  }

  .list-1 {
    font-size: 1em;
  }

  /* SERVICE PAGES */
  .med-link-1 {
padding: 5.6em 3em;
}

  .work-link-1 {
    padding: 11.79em 3em;
  }

  .market-link-1 {
    padding: 9.5em 3em;
  }

  .r-padding {
    padding: 6em 15em 6em 6em;
  }

  .r-padding-1 {
    padding: 3em 15em 3em 3em;
  }

  .service-h3 {
    font-size: 2em;
  }

  /* MEDICAL EDUCATION */
  .med-ed,
  .kol,
  .trainer,
  .ad-board,
  .speak-forum,
  .med-research {
    padding: 9em;
  }

  .med-ex {
    padding: 4em 8em;
  }

  .content {
    height: 484px;
  }

  /* WORKSHOP */
  .workshop,
  .facilitating,
  .training,
  .planning {
    padding: 9em;
  }

  /* DPS ORGINAL MARKETING */
  .communications,
  .web-design,
  .brand-design,
  .market-strategy {
    padding: 9em;
  }

  .logo-2 h3 {
    font-size: 3.18em;
  }

  .flex-logo-5 {
    width: 33.5%;
  }

  /* WORK */

  .work-w, .work-med {
    padding: 4em 5em;
  }

  /* CONTACT */
  .contact {
    padding: 6em 3em;
  }

  .c-logo {
    padding: 2.13em 3em 2.13em 0;
  }

  .c-bucket {
padding: 1.81em 0;
}

.phone .body {
padding: 2em 9em 0 9em;
}

  .copyright {
    padding: 0.5em;
  }
}

@media only screen and (min-width: 66em) {
.flex-logo-2 {
width: 35%;
}

#cssmenu a {
padding: 0 37.8px;
}

.company {
padding: 6em 5em 6em 35em;
}

.leader-text {
padding: 8.5em 5em;
}

.content {
height: 521px;
}

#market-1 h3 {
font-size: 3.45em;
}

.logo-2 h3 {
font-size: 3.45em;
}

.market-link-1 {
padding: 10em 3em;
}

.c-bucket {
padding: 2.34em 0;
}
}

@media only screen and (min-width: 68em) {
  .flex-logo-2 {
width: 34%;
}

#cssmenu a {
padding: 0 40px;
}

.company {
padding: 7em 5em 6em 37em;
}

.leader-text {
padding: 8.9em 5em;
}

.content {
height: 552px;
}

#market-1 h3 {
font-size: 3.65em;
}

.sub-nav a {
font-size: 1.1em;
}

.logo-2 h3 {
font-size: 3.65em;
}

.flex-logo-5 {
width: 31.5%;
}
}

@media only screen and (min-width: 73em) {
.flex-logo-2 {
width: 32%;
}

#cssmenu a {
padding: 0 44.5px;
}

.company {
padding: 8em 6em 7.6em 40em;
}

.leader-text {
padding: 9.7em 5em;
}

.content {
height: 568px;
}

#market-1 h3 {
font-size: 4.1em;
}

.market-link {
padding: 11.1em 3em;
}

.flex-logo-5 {
width: 28.5%;
}

.logo-2 h3 {
font-size: 4.1em;
}

.market-link-1 {
padding: 10.2em 3em;
}

.c-bucket {
padding: 2.7em 0;
}
}

@media only screen and (min-width: 75em) {
#cssmenu a {
padding: 0 46.7px;
}

.company {
padding: 8.3em 6em 8.3em 42em;
}

.leader-text {
padding: 10em 5em;
}

#market-1 h3 {
font-size: 4.29em;
}

.market-link {
padding: 12.3em 3em;
}

.logo-2 h3 {
font-size: 4.28em;
}

.market-link-1 {
padding: 11.4em 3em;
}

.c-bucket {
padding: 2.87em 0;
}
}

@media only screen and (min-width: 80em) {
  .flex-img-2 {
    display: none
  }

  .flex-img-1 {
    display: block;
  }

  .flex-logo-2 {
    width: 29.6%;
  }

  #cssmenu a {
    padding: 0 52.04px;
  }

  .logo {
padding: 0% 0 13% 0;
}

.flex-logo-1 {
padding: 7% 0;
}

.company {
padding: 9.7em 7em 9.6em 44em;
}

.leader-text {
padding: 11em 5em;
}

  .logo-spacer {
padding: 2em 1em;
}

  /* SERVICES */
  .sub-nav a {
    padding: 2em 0 0.5em 0;
    font-size: 1.3em;
  }

  .r-padding-2, .r-padding-3 {
    padding: 10em 18em 10em 5em;
  }

  .med-link {
    padding: 6.5em 4em;
  }

  .work-link {
    padding: 15em 4em;
  }

  .market-link {
    padding: 10em 4em;
  }

  /* SERVICE PAGES */
  .med-link-1 {
    padding: 4.5em 4em;
  }

  .work-link-1 {
    padding: 14.5em 4em;
  }

  .market-link-1 {
    padding: 10em 4em;
  }

  .r-padding {
    padding: 10em 15em 10em 6em;
  }
  .r-padding-1 {
    padding: 8em 15em 8em 6em;
  }

  /* MEDICAL EDUCATION */
  .med-ed,
  .kol,
  .trainer,
  .ad-board,
  .speak-forum,
  .med-research {
  }

  .med-ex {
    padding: 5em 8em;
  }

  .content {
    height: 606px;
  }

  /* WORKSHOP */
  .workshop,
  .facilitating,
  .training,
  .planning {
  }

  /* DPS ORGINAL MARKETING */
  .logo-2 h3 {
font-size: 4.46em;
}

  .communications,
  .web-design,
  .brand-design,
  .market-strategy {
  }

  .flex-logo-5 {
width: 27%;
}

#market-1 h3 {
font-size: 4.46em;
}

.c-bucket {
padding: 3.4em 0;
}
}

@media only screen and (min-width: 81em) {
.flex-logo-2 {
width: 29%;
}

#cssmenu a {
padding: 0 53.3px;
}

.company {
padding: 10em 7em 10em 47em;
}

.leader-text {
padding: 11.3em 5em;
}

.content {
height: 616px;
}

#market-1 h3 {
font-size: 4.61em;
}

.flex-logo-5 {
width: 26%;
}

.logo-2 h3 {
font-size: 4.61em;
}

.c-bucket {
padding: 3.5em 0;
}
}

@media only screen and (min-width: 85em) {
  .flex-logo-2 {
width: 27.6%;
}

  #cssmenu a {
    padding: 0 57.7px;
  }

  .company {
padding: 11em 10em 11em 48em;
}

.leader-text {
padding: 12em 5em;
}

  #market-1 h3 {
    font-size: 5.02em;
  }

.logo-spacer {
padding: 1.8em 1em;
}

  /* SERVICE PAGES */
  /* MEDICAL EDUCATION */
  .med-ed,
  .kol,
  .trainer,
  .ad-board,
  .speak-forum,
  .med-research {
    padding: 10em;
  }

  .content {
    height: 647px;
  }

  /* WORKSHOP */
  .workshop,
  .facilitating,
  .training,
  .planning {
    padding: 10em;
  }

  /* DPS ORGINAL MARKETING */
  .communications,
  .web-design,
  .brand-design,
  .market-strategy {
    padding: 10em;
  }

  .logo-2 h3 {
    font-size: 5em;
  }

  .flex-logo-5 {
    width: 25%;
  }

  .c-bucket {
padding: 3.87em 0;
}
}

@media only screen and (min-width: 87em) {
.flex-logo-2 {
width: 27%;
}

#cssmenu a {
padding: 0 60px;
}

.company {
padding: 12em 10em 12em 50em;
}

.logo-spacer {
padding: 1.6em 1em;
}

.leader-text {
padding: 12.5em 5em;
}

.content {
height: 664px;
}

#market-1 h3 {
font-size: 5.25em;
}

.market-link {
padding: 10.6em 4em;
}

.flex-logo-5 {
width: 24.5%;
}

.logo-2 h3 {
font-size: 5.25em;
}

.c-bucket {
padding: 4.06em 0;
}
}

@media only screen and (min-width: 89em) {
  .flex-logo-2 {
    width: 25.8%;
  }

  #cssmenu a {
padding: 0 62.5px;
}

.logo {
padding: 0 0 12% 0;
}

.flex-logo-1 {
padding: 5% 0;
}

  .company {
    padding: 13em 12em 13em 52em;
  }

  .company h3 {
font-size: 2.6em;
}

  .logo-spacer {
padding: 1.3em 1.5em;
}

.leader-text {
padding: 13em 5em;
}

  /* SERVICES */
  .sub-nav a {
    font-size: 1.25em;
  }

  .med-link {
padding: 10em 4em;
}

  .work-link {
    padding: 20em 4em;
  }

  .market-link {
    padding: 16.5em 4em;
  }

#market-1 h3 {
font-size: 5.49em;
}

  .r-padding-2, .r-padding-3 {
padding: 15em 18em 10em 5em;
}

  /* SERVICE PAGES */
  .work-link-1 {
    padding: 18em 4em;
  }

  .market-link-1 {
    padding: 15.2em 4em;
  }

  .logo-2 h3 {
    font-size: 5.5em;
  }

  /* MEDICAL EDUCATION */
  .med-ed,
  .kol,
  .trainer,
  .ad-board,
  .speak-forum,
  .med-research {
    padding: 12em;
  }

  .content {
height: 684px;
}

  /* WORKSHOP */
  .workshop,
  .facilitating,
  .training,
  .planning {
    padding: 12em;
  }

  /* DPS ORGINAL MARKETING */
  .communications,
  .web-design,
  .brand-design,
  .market-strategy {
    padding: 12em;
  }

  .flex-logo-5 {
  width: 23.7%;
  }

  /* CONTACT */
  .contact {
    padding: 8em 3em;
  }

  .c-bucket {
padding: 4.33em 0;
}
}

@media only screen and (min-width: 93em) {
.logo {
padding: 5% 0 12% 0;
}

.flex-logo-2 {
width: 25%;
}

#cssmenu a {
padding: 0 66.6px;
}

.company {
padding: 14em 11em 13.4em 54em;
}

.leader-text {
padding: 13.7em 5em;
}

.content {
height: 712px;
}

#market-1 h3 {
font-size: 5.88em;
}

.market-link {
padding: 17em 4em;
}

.flex-logo-5 {
width: 23.2%;
}

.logo-2 h3 {
font-size: 5.88em;
}

.market-link-1 {
padding: 16.8em 4em;
}

.c-bucket {
padding: 4.7em 0;
}
}

@media only screen and (min-width: 96em) {
.flex-logo-2 {
width: 24%;
}

#cssmenu a {
padding: 0 70px;
}

.company {
padding: 15em 14em 14.6em 56em;
}

.leader-text {
padding: 14.5em 5em;
}

.content {
height: 744px;
}

.flex-logo-5 {
width: 22.2%;
}

.c-bucket {
padding: 5.07em 0;
}
}

@media only screen and (min-width: 100em) {
  .flex-logo-2 {
    width: 23%;
  }

  #cssmenu a {
    padding: 0 73.3px;
  }

.company {
padding: 16em 15em 15em 58em;
}

.leader-text {
padding: 14.9em 5em;
}

  /* SERVICES */

  /* SERVICE PAGES */
  /* MEDICAL EDUCATION */
  .med-ed,
  .kol,
  .trainer,
  .ad-board,
  .speak-forum,
  .med-research {
    padding: 20em;
  }

  .med-ex {
    padding: 12em;
  }

  .content {
    height: 760px;
  }

  /* WORKSHOP */
  .workshop,
  .facilitating,
  .training,
  .planning {
    padding: 20em;
  }

  /* DPS ORGINAL MARKETING */
  .flex-logo-5 {
width: 21.7%;
}

.c-bucket {
padding: 6.03em 0;
}
}

@media only screen and (min-width: 105em) {
  .logo {
padding: 9% 0 12% 0;
}

.flex-logo-2 {
width: 22.1%;
}

#cssmenu a {
padding: 0 78.6px;
}

.company {
padding: 17em 18em 17em 60em;
}

.leader-text {
padding: 15.8em 5em;
}

.content {
height: 798px;
}

  /* SERVICE PAGES */
  /* MEDICAL EDUCATION */

  /* WORKSHOP */

  /* DPS ORGINAL MARKETING */
  .flex-logo-5 {
width: 20.6%;
}

.c-bucket {
padding: 6.2em 0;
}

.phone .body {
font-size: 1.1em;
}
}

@media only screen and (min-width: 109em) {
.flex-logo-2 {
width: 21.3%;
}

#cssmenu a {
padding: 0 83.3px;
}

.company {
padding: 18em 20em 18em 62em;
}

.leader-text {
padding: 16.9em 5em;
}

.content {
height: 841px;
}

.market-link {
padding: 17.7em 4em;
}

.flex-logo-5 {
width: 19.4%;
}

.market-link-1 {
padding: 17.7em 4em;
}

.c-bucket {
padding: 6.76em 0;
}
}

@media only screen and (min-width: 112em) {
.flex-logo-2 {
width: 20.6%;
}

#cssmenu a {
padding: 0 86.6px;
}

.company {
padding: 19em 17em 19em 68em;
}

.leader-text {
padding: 17.3em 5em;
}

.content {
height: 856px;
}

.flex-logo-5 {
width: 19.3%;
}

.c-bucket {
padding: 6.95em 0;
}
}

@media only screen and (min-width: 115em) {
  .flex-logo-2 {
width: 20%;
}

#cssmenu a {
padding: 0 90px;
}

.company {
padding: 20em 17em 20em 70em;
}

.leader-text {
padding: 18.1em 5em;
}

.content {
height: 889px;
}

.flex-logo-5 {
width: 18.6%;
}

.c-bucket {
padding: 7.3em 0;
}
}

@media only screen and (min-width: 119em) {
  .flex-logo-2 {
width: 19.7%;
}

#cssmenu a {
padding: 0 94.5px;
}

.company {
padding: 21em 20em 21em 73em;
}

.leader-text {
padding: 18.7em 5em;
}

  .market-link {
    padding: 18em 4em;
  }

  /* SERVICE PAGES */
  /* MEDICAL EDUCATION */


  .content {
    height: 913px;
  }

  /* WORKSHOP */


  /* DPS ORGINAL MARKETING */
  .flex-logo-5 {
width: 18.1%;
}

.c-bucket {
padding: 7.63em 0;
}
}
