#dates a {
	color: #FFF;
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

#dates a:hover,
#dates a.selected {
		color: #FFF;
	}

	#timeline {
		width: 100%;
		height: 303px;
		overflow: hidden;
		margin: 0;
		position: relative;
	}
		#dates {
			width: 0%;
			height: 0px;
			overflow: hidden;
			margin: 0;
			padding: 0;
		}
			#dates li {
				list-style: none;
				float: left;
				width: 100px;
				height: 100px;
				font-size: 24px;
				text-align: center;
				padding: 1.3em 0 0 0;
			}
				#dates a {
					line-height: 30px;
				}
				#dates .selected {
			        font-size: 40px;
				}

		#issues {
			width: 800px;
			height: 440px;
			overflow: hidden;
			margin: 0 auto;
			padding: 2em 0;
			position: absolute;
		}
			#issues li {
				width: 768px;
				height: 100%;
				list-style: none;
				float: left;
			}
				#issues li.selected h1 {
					-webkit-transform: scale(1.1,1.1);
					-moz-transform: scale(1.1,1.1);
				    -o-transform: scale(1.1,1.1);
				    -ms-transform: scale(1.1,1.1);
				    transform: scale(1.1,1.1);
				}
				#issues li h1 {
					margin: 0 1.5em 0 3.7em;
					background: transparent;
					-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */
					zoom: 1;
					-webkit-transition: all 2s ease-in-out;
					-moz-transition: all 2s ease-in-out;
					-o-transition: all 2s ease-in-out;
					-ms-transition: all 2s ease-in-out;
					transition: all 2s ease-in-out;
					-webkit-transform: scale(0.7,0.7);
					-moz-transform: scale(0.7,0.7);
				    -o-transform: scale(0.7,0.7);
				    -ms-transform: scale(0.7,0.7);
				    transform: scale(0.7,0.7);
				}
				#issues li h1 {
					color: #152a3f;
					font-size: 1.5em;
					line-height: normal;
					font-weight: 100;
					padding: 0;
				}

				#issues li.selected h2 {
					-webkit-transform: scale(1.1,1.1);
					-moz-transform: scale(1.1,1.1);
				    -o-transform: scale(1.1,1.1);
				    -ms-transform: scale(1.1,1.1);
				    transform: scale(1.1,1.1);
				}
				#issues li h2 {
					margin: 0 1.5em 0 3.7em;
					background: transparent;
					-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */
					zoom: 1;
					-webkit-transition: all 2s ease-in-out;
					-moz-transition: all 2s ease-in-out;
					-o-transition: all 2s ease-in-out;
					-ms-transition: all 2s ease-in-out;
					transition: all 2s ease-in-out;
					-webkit-transform: scale(0.7,0.7);
					-moz-transform: scale(0.7,0.7);
				    -o-transform: scale(0.7,0.7);
				    -ms-transform: scale(0.7,0.7);
				    transform: scale(0.7,0.7);
				}
				#issues li h2 {
					color: #152a3f;
					font-size: 1.5em;
					line-height: normal;
					font-weight: 100;
					padding: 0;
				}

				#issues li p {
					font-size: 1em;
					margin: 0 auto;
					font-weight: 300;
					line-height: normal;
					padding: 0 5em 0.5em 0;
					letter-spacing: 0.2px;
					text-align: justify;
				}

		#grad_left,
		#grad_right {
			width: 100px;
			height: 350px;
			position: absolute;
			top: 0;
		}
			#grad_left {
		        left: 0;
		        background: url('../img/grad_left.png') repeat-y;
			}
			#grad_right {
		        right: 0;
		        background: url('../img/grad_right.png') repeat-y;
			}

			.timeline-wrapper {
				height: 440px;
			}

			.middle {
				padding: 2em 0;
			}

		#next,
		#prev {
			position: relative;
			font-size: 55px;
			top: 0;
			background-position: 0 0;
			background-repeat: no-repeat;
			overflow: hidden;
			font-family: 'icomoon';
			font-weight: bold;
			color: #000;
			text-decoration: none;
			-webkit-transition: color 0.5s linear;
			-moz-transition: color 0.5s linear;
			-ms-transition: color 0.5s linear;
			-o-transition: color 0.5s linear;
			transition: color 0.5s linear;
			float: left;
			width: 50%;
			padding: 4em 0;
			line-height: 0;
		}
			#next:hover,
			#prev:hover {
				color: #b3b3b3;
			}
			#next {
				right: 3%;
				text-align: right;
			}
			#prev {
				left: 3%;
			}
				#next.disabled,
				#prev.disabled {
					opacity: 0.2;
				}

@media only screen and (min-width: 50em) {
  #timeline {
    height: 316px;
  }

  .timeline-wrapper {
		height: 430px;
	}

  #issues {
	height: 430px;
	}

  #issues li {
		width: 800px;
	}

	#issues li h1 {
margin: 0 1em 0 3.8em;
}

#issues li h2 {
margin: 0 1em 0 3.8em;
}

.middle {
padding: 2.5em 0;
}

  #next,
  #prev {
padding: 3.91em 0;
}
}

@media only screen and (min-width: 54em) {
  #timeline {
    height: 344px;
  }

  .timeline-wrapper {
		height: 380px;
	}

  #issues {
	height: 380px;
	}

  #issues li {
		width: 868px;
	}

	#issues li h1 {
margin: 0 1em 0 3.8em;
}

#issues li h2 {
margin: 0 1em 0 3.8em;
}

.middle {
padding: 1.5em 0;
}

  #next,
  #prev {
padding: 3.46em 0;
}
}

@media only screen and (min-width: 56em) {
#timeline {
height: 356px;
}

#issues li {
	width: 900px;
}

.middle {
padding: 2em 0;
}

#issues li h2 {
margin: 0 1em 0 5em;
}
}

@media only screen and (min-width: 60em) {
	#timeline {
height: 383px;
}

#issues li {
	width: 968px;
}

#issues li p {
padding: 0 8em 0.5em 0;
}

#issues li h1 {
margin: 0 1em 0 5.5em;
}

#issues li h2 {
margin: 0 1em 0 6em;
}
}

@media only screen and (min-width: 62em) {
	#timeline {
height: 396px;
}

#issues li {
	width: 1000px;
}

.middle-2 {
	padding: 0.8em 0;
}

.middle {
padding: 2.7em 0;
}
}

@media only screen and (min-width: 64em) {
  #timeline {
    height: 406px;
  }

  #issues li {
		width: 1024px;
	}

	#issues {
height: 420px;
}

.timeline-wrapper {
height: 420px;
}

	#issues li h1 {
font-size: 2em;
margin: 0 1em 0 3.5em;
}

	#issues li h2 {
font-size: 2em;
margin: 0 1em 0 4.5em;
}


#issues li p {
font-size: 1.08em;
padding: 0 6.5em 0.5em 0;
}

.middle {
padding: 2.5em 0;
}

.middle-2 {
padding: 0.3em 0;
}

#next, #prev {
padding: 3.82em 0;
}
}

@media only screen and (min-width: 66em) {
	#timeline {
height: 423px;
}

#issues li {
		width: 1068px;
	}

.middle {
padding: 3em 0;
}

.middle-2 {
padding: 1em 0;
}
}

@media only screen and (min-width: 68em) {
	#timeline {
height: 436px;
}

#issues li {
		width: 1100px;
	}

#issues li h1 {
margin: 0 1em 0 4em;
}
}

@media only screen and (min-width: 73em) {
	#timeline {
height: 464px;
}

#issues li {
		width: 1168px;
	}

#issues li p {
padding: 0 9em 0.5em 0;
}

#issues li h1 {
margin: 0 1em 0 5em;
}

#issues li h2 {
margin: 0 1em 0 5em;
}
}

@media only screen and (min-width: 75em) {
	#timeline {
height: 476px;
}

#issues li {
	width: 1200px;
}

#issues {
height: 405px;
}

.timeline-wrapper {
height: 405px;
}

.middle {
padding: 2.6em 0;
}

#next, #prev {
padding: 3.68em 0;
}
}

@media only screen and (min-width: 80em) {
	#timeline {
		height: 509px;
	}
	.timeline-wrapper {
height: 380px;
}

#issues {
height: 380px;
}
	#issues li {
		width: 1280px;
	}

	#issues li h2 {
padding: 0 0 0 2em;
}

#issues li p {
font-size: 1em;
}

.middle {
padding: 4.4em 0;
}

.middle-2 {
padding: 3em 0;
}

#next, #prev {
padding: 3.45em 0;
}
}

@media only screen and (min-width: 81em) {
	#timeline {
height: 517px;
}

#issues li {
	width: 1300px;
}

.middle {
padding: 3em 0;
}
}

@media only screen and (min-width: 85em) {
#timeline {
height: 543px;
}

	#issues li {
		width: 1366px;
	}

	#issues li h1 {
margin: 0 1em 0 5.5em;
}

	#issues li p {
padding: 0 10em 0.5em 0em;
}

.middle {
padding: 4.4em 0;
}

.middle-2 {
padding: 3.6em 0;
}
}

@media only screen and (min-width: 87em) {
	#timeline {
height: 557px;
}

#issues li {
	width: 1400px;
}

#issues {
height: 360px;
}

.timeline-wrapper {
height: 360px;
}

.middle {
padding: 2.5em 0;
}

#issues li h1 {
margin: 0 1em 0 6.5em;
}

#next, #prev {
padding: 3.27em 0;
}
}

@media only screen and (min-width: 89em) {
	#timeline {
		height: 573px;
	}

	.timeline-wrapper {
height: 340px;
}

#issues {
height: 340px;
}

	#issues li {
		width: 1440px;
	}

	#issues li h1 {
margin: 0 1em 0 6em;
}

	#issues li p {
padding: 0 10em 0.5em 0;
}

#issues li h2 {
padding: 0 0 0 2.5em;
}

.middle {
padding: 3.6em 0;
}

.middle-2 {
padding: 2.3em 0;
}

#next, #prev {
padding: 3.09em 0;
}
}

@media only screen and (min-width: 93em) {
#timeline {
height: 597px;
}

#issues li {
	width: 1500px;
}
}

@media only screen and (min-width: 96em) {
	#timeline {
height: 624px;
}

#issues li {
	width: 1550px;
}

#issues li p {
padding: 0 11em 0.5em 0;
}
}

@media only screen and (min-width: 100em) {
	#timeline {
height: 637px;
}

	#issues li {
		width: 1600px;
	}

	.middle-2 {
padding: 1.6em 0;
}

.middle {
padding: 3.1em 0;
}

#issues li p {
padding: 0 22em 0.5em 0;
}
}

@media only screen and (min-width: 105em) {
	#timeline {
		height: 669px;
	}

	#issues li {
		width: 1680px;
	}

	#issues li p {
padding: 0 24em 0.5em 0;
}
}

@media only screen and (min-width: 109em) {
	#timeline {
height: 705px;
}

#issues li {
		width: 1750px;
	}

#issues li p {
padding: 0 17em 0.5em 0;
}

#issues li h1 {
margin: 0 1em 0 7.5em;
}

#issues li h2 {
padding: 0 0 0 5em;
}
}

@media only screen and (min-width: 112em) {
	#timeline {
height: 718px;
}

#issues li {
		width: 1800px;
	}

#issues li h1 {
margin: 0 1em 0 8em;
}

#issues li h2 {
padding: 0 0 0 6.5em;
}
}

@media only screen and (min-width: 115em) {
#issues li {
		width: 1850px;
	}

	#timeline {
height: 745px;
}

#issues li h1 {
margin: 0 1em 0 8.5em;
}
}

@media only screen and (min-width: 119em) {
	#timeline {
		height: 766px;
	}

	#issues li {
		width: 1920px;
	}

#issues li p {
padding: 0 34em 0.5em 0;
}

#issues li h1 {
margin: 0 1em 0 9em;
}

#issues li h2 {
padding: 0 0 0 7em;
}
}
