#dates a {
	color: #FFF;
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

#dates a:hover,
#dates a.selected {
		color: #FFF;
	}

	#timeline {
		width: 100%;
		height: 265px;
		overflow: hidden;
		margin: 0;
		position: relative;
	}
		#dates {
			width: 100%;
			height: 170px;
			overflow: hidden;
			margin: 0;
			padding: 4.5em 0 0 0em;
		}
			#dates li {
				list-style: none;
				float: left;
				width: 100px;
				height: 100px;
				font-size: 24px;
				text-align: center;
				padding: 1.3em 0 0 0;
			}
				#dates a {
					line-height: 30px;
				}
				#dates .selected {
			        font-size: 40px;
				}

		#issues {
			width: 800px;
			height: 340px;
			overflow: hidden;
			margin: 0 auto;
			padding: 2em 0;
			position: absolute;
		}
			#issues li {
				width: 768px;
				height: 280px;
				list-style: none;
				float: left;
			}
				#issues li.selected h1 {
					-webkit-transform: scale(1.1,1.1);
					-moz-transform: scale(1.1,1.1);
				    -o-transform: scale(1.1,1.1);
				    -ms-transform: scale(1.1,1.1);
				    transform: scale(1.1,1.1);
				}
				#issues li h1 {
					margin: 0 1.5em 0 6em;
					background: transparent;
					-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */
					zoom: 1;
					-webkit-transition: all 2s ease-in-out;
					-moz-transition: all 2s ease-in-out;
					-o-transition: all 2s ease-in-out;
					-ms-transition: all 2s ease-in-out;
					transition: all 2s ease-in-out;
					-webkit-transform: scale(0.7,0.7);
					-moz-transform: scale(0.7,0.7);
				    -o-transform: scale(0.7,0.7);
				    -ms-transform: scale(0.7,0.7);
				    transform: scale(0.7,0.7);
				}
				#issues li h1 {
					color: #152a3f;
					font-size: 1.5em;
					line-height: normal;
					font-weight: 400;
					padding: 0 1em 0 7em;
				}
				#issues li p {
					font-size: 1em;
					margin: 0 auto;
					font-weight: 300;
					line-height: normal;
					padding: 0 7em 0.5em 0;
					letter-spacing: 0.2px;
				}

		#grad_left,
		#grad_right {
			width: 100px;
			height: 350px;
			position: absolute;
			top: 0;
		}
			#grad_left {
		        left: 0;
		        background: url('../img/grad_left.png') repeat-y;
			}
			#grad_right {
		        right: 0;
		        background: url('../img/grad_right.png') repeat-y;
			}

			.timeline-wrapper {
				height: 340px;
			}

		#next,
		#prev {
			position: relative;
			font-size: 55px;
			top: 0;
			background-position: 0 0;
			background-repeat: no-repeat;
			overflow: hidden;
			font-family: 'icomoon';
			font-weight: bold;
			color: #000;
			text-decoration: none;
			-webkit-transition: color 0.5s linear;
			-moz-transition: color 0.5s linear;
			-ms-transition: color 0.5s linear;
			-o-transition: color 0.5s linear;
			transition: color 0.5s linear;
			float: left;
			width: 50%;
			padding: 3.09em 0;
			line-height: 0;
		}
			#next:hover,
			#prev:hover {
				color: #b3b3b3;
			}
			#next {
				right: 3%;
				text-align: right;
			}
			#prev {
				left: 3%;
			}
				#next.disabled,
				#prev.disabled {
					opacity: 0.2;
				}

@media only screen and (min-width: 50em) {
  #timeline {
    height: 275px;
  }

  #issues li {
		width: 800px;
	}

  #next, #prev {
		padding: 3.1em 0;
	}
}

@media only screen and (min-width: 64em) {
  #timeline {
    height: 352px;
  }

  #issues li {
		width: 1024px;
	}

	#issues li h1 {
font-size: 2em;
padding: 0 0em 0 2em;
}

#issues li p {
font-size: 1.08em;
}
}

@media only screen and (min-width: 80em) {
	#timeline {
		height: 440px;
	}

	#issues li {
		width: 1200px;
	}

	#issues li h1 {
padding: 0 0em 0 3em;
}
}

@media only screen and (min-width: 85em) {
	#timeline {
		height: 470px;
	}

	#issues li {
		width: 1300px;
	}

	#issues li p {
		padding: 0 16.5em 0.5em 0;
	}
}

@media only screen and (min-width: 90em) {
	#timeline {
		height: 495px;
	}

	#issues li {
		width: 1400px;
	}

	#issues li p {
padding: 0 19em 0.5em 0;
}

}

@media only screen and (min-width: 100em) {
	#timeline {
		height: 550px;
	}

	#issues li {
		width: 1550px;
	}

	#issues li h1 {
padding: 0 0em 0 5.7em;
}

#issues li p {
padding: 0 23.6em 0.5em 0;
}
}

@media only screen and (min-width: 105em) {
	#timeline {
		height: 580px;
	}

	#issues li {
		width: 1550px;
	}
}

@media only screen and (min-width: 119em) {
	#timeline {
		height: 660px;
	}

	#issues li {
		width: 1640px;
	}

	#next, #prev {
		top: 416%;
	}
}
