
.carousel .item {
    background-color: #000;
}

.carousel .loading{
    width:46px;
    height:46px;
    position:absolute;
    top:50%;
    left:50%;
    background:#000 url(../img/ajax-loader.gif) no-repeat center center;
    margin:-23px 0px 0px -23px;
    z-index:100;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    opacity:0.7;
}

.flex-img1 {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.logo {
    padding: 4em 2em 4em 2em;
    margin: 0 auto;
}

.info {
    background-color: #26405e;
    padding: 3em;
}

.info p {
    font-family: sans-serif;
    font-size: 4em;
    color: #FFF;
    line-height: 1.5em;

}

.bgContact {
    background-color: #FFFFFF;
    padding: 3em;
}

.bgContact h2 {
    font-size: 3.5em;
    color: #181f2e;
    font-family: sans-serif;
    text-transform: uppercase;
    margin-bottom: -4%;
}

h3 {
    font-size: 3.5em;
    color: #181f2e;
    font-family: sans-serif;
    text-transform: uppercase;
    margin-bottom: -3%;
}

.contact-item p {
    font-size: 3em;
    font-family: sans-serif;
    padding: 1em;
}

.contact-item img {
    width: 10.5%;
    float: left;
    display: block;
    padding: 1.3em;
}

.contact-item a {
    text-decoration: none;
    color: #181f2e;
}
