<!DOCTYPE html>
<html lang="en">
<head>
<meta name="google-site-verification" content="FnXJHTCEZlaEbRF-kHwy0RIBk8bQ4uhJZ2j--Wnddrk" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="noarchive">
<meta name="description" content="{{page.meta}}">
<meta name="keywords" content="{{page.keyword}}">
<title>{% if page.title %}{{page.title}}{%endif%}{% if page.title == null %}{% endif %}</title>

<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width" />

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link href="css/dps-original.css" rel="stylesheet">
<!--[if IE 8]>
  <link href="css/ie8.css" rel="stylesheet" type="text/css">
<![endif]-->

<!--[if gte IE 9]>
  <link href="css/ie9.css" rel="stylesheet" type="text/css">
<![endif]-->
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

  <script src="js/modernizr.custom.js"></script>

  <script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "LocalBusiness",
  "name" : "DPS Orginal",
  "image" : "http://www.dpsoriginal.com/img/logo-1.svg",
  "telephone" : "613 555 5555.",
  "email" : "media@dpsoriginal.com",
  "address" : {
    "@type" : "PostalAddress",
    "streetAddress" : "343 Preston St",
    "addressLocality" : "Ottawa",
    "addressRegion" : "ON",
    "postalCode" : "K1S 1N4"
  }
}
</script>
</head>

<body>
<!-- HEADER -->
<header>
{% include nav.html %}
</header>

<!-- NAVIGATION FOR MOBILE -->
<div class="container demo-2">
  <div class="main-1 clearfix">
  <div class="column">
    <div id="dl-menu" class="dl-menuwrapper">
      <button class="dl-trigger">Open Menu</button>
        <ul class="dl-menu">
          <li><a href="{{site.baseurl}}/" rel="home">Home</a></li>
          <li><a href="{{site.baseurl}}#why-dps" rel="">Why DPS</a>
            <ul class="dl-submenu">
              <li><a href='{{site.baseurl}}/#company-1'>Company</a></li>
              <li><a href='{{site.baseurl}}/#why-dps'>Why DPS</a></li>
              <li><a href='{{site.baseurl}}/#leader'>Leadership</a></li>
            </ul>
          </li>
          <li><a href="{{site.baseurl}}#capabilities">Capabilities</a>
            <ul class="dl-submenu">
              <li><a href='{{site.baseurl}}/#medical-1'>Medical Education</a></li>
              <li><a href='{{site.baseurl}}/#workshop-1'>Workshops & Training</a></li>
              <li><a href='{{site.baseurl}}/#marketing-1'>DPS Marketing & Design</a></li>
            </ul>
          </li>
          <li><a href="{{site.baseurl}}#work">Work</a>
            <ul class="dl-submenu">
              <li><a href='{{site.baseurl}}/medical.html#med'>Medical Education</a></li>
              <li><a href='{{site.baseurl}}/workshop.html#work'>Workshops & Training</a></li>
              <li><a href='{{site.baseurl}}/marketing.html#mark'>DPS Marketing & Design</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!-- /dl-menuwrapper -->
  </div>
  </div>
</div>
<!-- /container -->

  <div class="grid">
    <div class="logo-img">
      <div class="mobile-layout">
        <img src="img/banner-1.jpg" class="flex-img" alt="Welcome to DPS Original">
      </div>
      <img src="img/banner-1.jpg" class="flex-img-2" alt="Welcome to DPS Original">
      <div class="desktop-layout">
        <img src="img/banner.jpg" class="flex-img-1" alt="Welcome to DPS Original">
      </div>
    </div>

    <div class="unit unit-s-1 unit-s-1-1 unit-m-1 unit-l-1">
    <div class="logo">
      <img src="img/logos/logo.svg" alt="" class="flex-logo" alt="DPS Original">
      <img src="img/logos/logo-1.svg" alt="" class="flex-logo-1" alt="DPS Original">

      <nav class="ie-nav">
        <ul id="menu">
          <li><a href="{{site.baseurl}}/" rel="home">Home</a></li>
          <li><a href="{{site.baseurl}}#why-dps" rel="">Why DPS</a>
            <ul>
              <li><a href='{{site.baseurl}}/#company-1'>Company</a></li>
              <li><a href='{{site.baseurl}}/#why-dps'>Why DPS</a></li>
              <li><a href='{{site.baseurl}}/#leader'>Leadership</a></li>
            </ul>
          </li>
          <li><a href="{{site.baseurl}}#capabilities">Capabilities</a>
            <ul>
              <li><a href='{{site.baseurl}}/#medical-1'>Medical Education</a></li>
              <li><a href='{{site.baseurl}}/#workshop-1'>Workshops & Training</a></li>
              <li><a href='{{site.baseurl}}/#marketing-1'>DPS Marketing & Design</a></li>
            </ul>
          </li>
          <li><a href="{{site.baseurl}}#work">Work</a>
            <ul>
              <li><a href='{{site.baseurl}}/medical.html#med'>Medical Education</a></li>
              <li><a href='{{site.baseurl}}/workshop.html#work'>Workshops & Training</a></li>
              <li><a href='{{site.baseurl}}/marketing.html#mark'>DPS Marketing & Design</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
      <img src="img/logos/dps-original.png" alt="" class="flex-logo1" alt="DPS Original">

    <div class="unit unit-s-1 unit-m-1 unit-l-1">
    <div class="icon">
    <div class="unit unit-m-1-3-1 unit-l-1-3-1">
    <nav class="icon-effect icon-nav">
        <a href="{{site.baseurl}}/#medical-1">
      <div class="service-1">
        <h2>Medical</h2>
        <p class="sub-head">Education</p>
        <p class="caps">I am looking for a</p>
        <p class="caps-2">Medical Education Expert</p>
      </div></a></nav>
    </div>

    <div class="unit unit-m-1-3-1 unit-l-1-3-1">
     <nav class="icon-effect icon-nav">
        <a href="{{site.baseurl}}/#workshop-1">
        <div class="service-2">
          <h2>Workshops</h2>
          <p class="sub-head">& Training</p>
          <p class="caps">I am looking for a</p> <p class="caps-2">Professional with Meetings Proficiency</p>
        </div></a></nav>
      </div>

      <div class="unit unit-m-1-3-1 unit-l-1-3-1">
       <nav class="icon-effect icon-nav">
        <a href="{{site.baseurl}}/#market-1">
        <div class="service-2">
          <h2>Marketing</h2>
          <p class="sub-head">& Design</p>
          <p class="caps">I am looking for a</p> <p class="caps-2">Strategic Marketing Leader</p>
        </div></a></nav>
      </div>
    </div>
</div>
</div>
</div>
</div>
<!-- END HEADER -->

{{content}}

{% include footer.html %}
  <script src="js/libs/jquery-1.8.3.min.js"></script>
  <script src="js/jquery.dlmenu.js"></script>
  <script src="js/jquery.timelinr-0.9.54.js"></script>
  <script src="js/classie.js"></script>
  <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script> 
    <script src="js/cbpGridGallery.js"></script>
    <script>
      new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
    </script>
  <script>
    $(function(){
      $().timelinr({
        arrowKeys: 'true'
      })
    });
  </script>
    <script>
      $(function() {
        $( '#dl-menu' ).dlmenu({
          animationClasses : { classin : 'dl-animate-in-2', classout : 'dl-animate-out-2' }
        });
      });
    </script>
    <script type="text/javascript">
      $(document).ready(function() {
       //Calculate the height of <header>
       //Use outerHeight() instead of height() if have padding
          var aboveHeight = $('header').outerHeight();
       // when scroll
          $(window).scroll(function(){
        //if scrolled down more than the header's height
              if ($(window).scrollTop() > aboveHeight){
         // if yes, add "fixed" class to the <sticknav>
         // add padding top to the #content (value is same as the height of the sticknav)
                  $('sticknav').addClass('fixed').addClass('show').css('top','0').next().css('padding-top','0px');
              } else {
         // when scroll up or less than aboveHeight, remove the "fixed" class, and the padding-top
                  $('sticknav').removeClass('fixed').removeClass('show').next().css('padding-top','0'); /* Move the logo back */
              }
          });
      });
</script>
  <script src="js/profile.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51477514-2', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>
