<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>DPS Original</title>

<meta name="viewport" content="width=device-width" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link href="css/dps-original.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

  <script src="js/modernizr.custom.js"></script>
</head>

<body>
<!-- HEADER -->
<header>
<!-- NAVIGATION FOR MOBILE -->
<div class="container demo-2">
  <div class="main-1 clearfix">
  <div class="column">
    <div id="dl-menu" class="dl-menuwrapper">
      <button class="dl-trigger">Open Menu</button>
        <ul class="dl-menu">
          <li><a href="{{site.baseurl}}/" rel="home">Home</a></li>
          <li><a href="{{site.baseurl}}#why-dps" rel="">Why DPS</a>
            <ul class="dl-submenu">
              <li><a href='{{site.baseurl}}/#company'>Company</a></li>
              <li><a href='{{site.baseurl}}/#why-dps'>Why DPS</a></li>
              <li><a href='{{site.baseurl}}/#leader'>Leadership</a></li>
            </ul>
          </li>
          <li><a href="{{site.baseurl}}#capabilities">Capabilities</a>
            <ul class="dl-submenu">
              <li><a href='{{site.baseurl}}/#medical'>Medical Education</a></li>
              <li><a href='{{site.baseurl}}/#workshop'>Workshops & Training</a></li>
              <li><a href='{{site.baseurl}}/#market'>Marketing</a></li>
            </ul>
          </li>
          <li><a href="{{site.baseurl}}#work">Work</a>
            <ul class="dl-submenu">
              <li><a href='{{site.baseurl}}#medical'>Medical Education</a></li>
              <li><a href='{{site.baseurl}}#workshop-1'>Workshops & Training</a></li>
              <li><a href='{{site.baseurl}}#marketing'>Marketing</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!-- /dl-menuwrapper -->
  </div>
  </div>
</div>
<!-- /container -->

  <div class="grid">
    <div class="logo-img">
      <img src="img/marketing-2.jpg" class="flex-img-2">
      <img src="img/marketing-1.jpg" class="flex-img-1">
    </div>

    <div class="unit unit-s-1 unit-s-1-1 unit-m-1 unit-l-1">
    <div class="logo-2">
      {% include market-nav.html %}
      <div class="mobile-layout">
        <h3>Welcome to<br><img src="img/market-logo.svg" class="market-logo"></h3>
      </div>

      <div class="desktop-layout">
      <div class="unit unit-s-1 unit-m-1 unit-l-1">
      <div class="unit unit-s-1 unit-m-2-3 unit-l-2-3 r-padding-3">
        <h3>Welcome to<br>
          <img src="img/market-logo.svg" class="market-logo"></h3>
        <p class="sub-body">We take traditional creative design 10 steps further.</p>
      </div>

      <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3-1 market-link-1">
        <nav class="cl-effect-17 sub-nav">
          <a href="{{site.baseurl}}/marketing.html#communications-1" data-hover="Marketing Communications">Marketing Communications</a>
          <a href="{{site.baseurl}}/marketing.html#web-design-1" data-hover="Website Design & Development">Website Design & Development</a>
          <a href="{{site.baseurl}}/marketing.html#brand-design-1" data-hover="Brand Design & Development">Brand Design & Development</a>
          <a href="{{site.baseurl}}/marketing.html#market-strategy-1" data-hover="Marketing Strategy & Implementation">Marketing Strategy & Implementation</a>
        </nav>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>
</header>
<!-- END HEADER -->

{{content}}

{% include footer.html %}
  
  <script src="js/bookblock.min.js"></script>
  <script src="js/classie.js"></script>
  <script src="js/bookshelf.js"></script>
  <script src="js/jquery-1.11.0.min.js"></script>
  <script src="js/jquery.dlmenu.js"></script>
  <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/cbpGridGallery-1.js"></script>
    <script>
      new CBPGridGallery( document.getElementById( 'grid-gallery-1' ) );
    </script>
    <script>
      $(function() {
        $( '#dl-menu' ).dlmenu({
          animationClasses : { classin : 'dl-animate-in-2', classout : 'dl-animate-out-2' }
        });
      });
    </script>

    <script type="text/javascript">
      $(document).ready(function() {
       //Calculate the height of <header>
       //Use outerHeight() instead of height() if have padding
          var aboveHeight = $('header').outerHeight();
       // when scroll
          $(window).scroll(function(){
        //if scrolled down more than the header's height
              if ($(window).scrollTop() > aboveHeight){
         // if yes, add "fixed" class to the <sticknav>
         // add padding top to the #content (value is same as the height of the sticknav)
                  $('sticknav').addClass('fixed').addClass('show').css('top','0').next().css('padding-top','60px');
              } else {
         // when scroll up or less than aboveHeight, remove the "fixed" class, and the padding-top
                  $('sticknav').removeClass('fixed').removeClass('show').next().css('padding-top','0'); /* Move the logo back */
              }
          });
      });
</script>
</body>
</html>
