<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>DPS Original</title>

<meta name="viewport" content="width=device-width" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link href="css/dps-original.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

  <script src="js/modernizr.custom.js"></script>
</head>

<body>
<!-- HEADER -->
<header>
<!-- NAVIGATION FOR MOBILE -->
<div class="container demo-2">
<div class="main clearfix">
<div class="column">
  <div id="dl-menu" class="dl-menuwrapper">
  <button class="dl-trigger">Open Menu</button>
  <ul class="dl-menu">
    <li><a href="{{site.baseurl}}/" rel="home">Home</a></li>
    <li><a href="{{site.baseurl}}#company" rel="">Company</a>
      <ul class="dl-submenu">
        <li><a href='#'>Leadership</a></li>
        <li><a href='#'>Expertise</a></li>
        <li><a href='#'>Credibility</a></li>
      </ul>
    </li>
    <li><a href="{{site.baseurl}}#capabilities">Capabilities</a>
      <ul class="dl-submenu">
        <li><a href='{{site.baseurl}}#medical'>Medical Education</a>
          <ul class="dl-submenu">
            <li><a href='{{site.baseurl}}/medical-education.html#med-ex'>Medical Education</a></li>
            <li><a href='{{site.baseurl}}/medical-education.html#ad-board'>Advisory Boards</a></li>
            <li><a href='#'>Digital Education</a></li>
            <li><a href='{{site.baseurl}}/medical-education.html#trainer'>Train-the-Trainer</a></li>
            <li><a href='{{site.baseurl}}/medical-education.html#speak-forum'>Speakers Forum</a></li>
            <li><a href='{{site.baseurl}}/medical-education.html#kol'>Key Opinion Leader Advocacy</a></li>
          </ul>
        </li>
        <li><a href='{{site.baseurl}}#workshop-1'>Workshops & Training</a>
          <ul class="dl-submenu">
            <li><a href='{{site.baseurl}}/workshop.html#workshop'>Workshops</a></li>
            <li><a href='{{site.baseurl}}/workshop.html#sales-train'>Sales Training</a></li>
            <li><a href='{{site.baseurl}}/workshop.html#strategic-plan'>Strategic Planning</a></li>
            <li><a href='{{site.baseurl}}/workshop.html#facilitate'>Facilitating</a></li>
          </ul>
        </li>
        <li><a href='{{site.baseurl}}#marketing'>Marketing</a>
          <ul class="dl-submenu">
            <li><a href='{{site.baseurl}}/marketing.html#communication" rel="home'>Marketing Communications</a></li>
            <li><a href='{{site.baseurl}}/marketing.html#market-design" rel="home'>Website Design and Development</a></li>
            <li><a href='{{site.baseurl}}/marketing.html#brand'>Brand Design and Development</a></li>
            <li><a href='{{site.baseurl}}/marketing.html#strategy'>Strategic Marketing</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="{{site.baseurl}}#contact">Contact</a></li>
  </ul>
  </div><!-- /dl-menuwrapper -->
</div>
</div>
</div>
<!-- /container -->

<div class="grid">
  <div class="logo-img">
    <img src="img/medical-1.jpg" class="flex-img-2">
    <img src="img/medical.jpg" class="flex-img-1">
  </div>

  <div class="unit unit-s-1 unit-s-1-1 unit-m-1 unit-l-1">
    <div class="logo-1">
      {% include nav.html %}
      <div class="mobile-layout">
        <h3>Medical Education</h3>
      </div>

      <div class="desktop-layout">
      <div class="unit unit-s-1 unit-m-1-2 unit-l-1-2 head">
        <h3>Medical Education</h3>
        <p class="sub-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      </div>
    </div>
  </div>
</div>
</header>
<!-- END HEADER -->

{{content}}

{% include footer.html %}

  <script src="js/jquery-1.11.0.min.js"></script>
  <script src="js/jquery.dlmenu.js"></script>
    <script>
      $(function() {
        $( '#dl-menu' ).dlmenu({
          animationClasses : { classin : 'dl-animate-in-2', classout : 'dl-animate-out-2' }
        });
      });
    </script>

    <script type="text/javascript">
      $(document).ready(function() {
       //Calculate the height of <header>
       //Use outerHeight() instead of height() if have padding
          var aboveHeight = $('header').outerHeight();
       // when scroll
          $(window).scroll(function(){
        //if scrolled down more than the header's height
              if ($(window).scrollTop() > aboveHeight){
         // if yes, add "fixed" class to the <sticknav>
         // add padding top to the #content (value is same as the height of the sticknav)
                  $('sticknav').addClass('fixed').addClass('show').css('top','0').next().css('padding-top','60px');
              } else {
         // when scroll up or less than aboveHeight, remove the "fixed" class, and the padding-top
                  $('sticknav').removeClass('fixed').removeClass('show').next().css('padding-top','0'); /* Move the logo back */
              }
          });
      });
</script>
</body>
</html>
